API_KEY_OWM="https://home.openweathermap.org/api_keys"
API_KEY_SOLCAST="https://toolkit.solcast.com.au/account/api-key"

LAT=-15.990494
LON=-48.044265
LAT_DMS="15°59'21.8\"S"
LON_DMS="48°02'42.1\"W" 

USERNAME_UED=
PASSWORD_UED=

USERNAME_LDTEA=
PASSWORD_LDTEA=

USERNAME_FCE_UED=
PASSWORD_FCE_UED=

CONSOLE_LOG_LEVEL="WARNING"
FILE_LOG_LEVEL="WARNING"
LOG_FILE_PATH="logs/app.log"
LOG_MODE="verbose"
