[MESSAGES CONTROL]
disable=
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    W1203,  # Use lazy % formatting in logging functions
    W0718,  # catching too general exception Exception
    E0401   # Unable to import '...' (import-error)

[REPORTS]
output-format=colorized

[BASIC]
good-names=i, j, k, ex, Run, _

[FORMAT]
max-line-length = 120
